#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    transition: 20ms ease-in-out;
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;

}

.grey{
    background-color: rgba(0,0,0,0.5);
}


.m_b button{
    background-color: transparent;
    position: fixed;
    font-size: 20px;
    border: none;
    /* transform: translate(48em,-2em); */
    right: 15px;
    top: 1em; 
    color: white; 
}

.modle{
    visibility: hidden;
}